/** Common/Global style STARTS**/
body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #eee;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-container{
    margin: 0px auto;    
    /**background: linear-gradient(to top, #283E51, #4B79A1);**/
    background-color: #283E51;
    color: #fff;
    text-align: center;
    width: 50%;
    min-height: 780px;
}

.hr-line{
    border: none;       
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #dac60d;
    box-shadow: 0 15px 20px -20px #a7a064;
    margin: -58px auto 10px;
}

.disp-inline-flex{
    display: inline-flex;
}

.camel-case-text{
    text-transform: capitalize;
}

ul li{
    list-style-type: none;
    padding-bottom:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.common-btn{    
    font-family: 'Roboto', sans-serif;
    font-size: 11px;    
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
/** Common/Global style ENDS**/

/** Assessment question THREE SECTION style STARTS**/
.user-input-container{
    padding: 10px 30px;
}

#cities{       
    background-color: #fff;
    width: 40%;
    padding: 10px;
    font-size: 12px;   
    margin: 5px 0px 0px 15px;
    border-color: transparent;     
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}

#cities:focus{
    box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}

.autocomplete-items{
    width: 18%;
    margin: 0px auto;
    position: absolute;
    left: 41.2%;
    max-height: 400px;
    overflow: auto;
}

.autocomplete-items li{
    background: #ffffff;
    color: #333333;
    margin: 0;
    cursor: pointer;
    border: 1px solid #eee;
    text-align: left;
    padding: 8px;
    text-transform: capitalize;
}

ul li:hover{
    background: blue;
    color: #fff;    
}

.history-container{
    margin: 10px 150px;
}

.history-header{    
    height: 20px;    
}

.history-text{
    float: left;    
    text-align: left;
}

.delete-btn{
    cursor: pointer;
    border-color: transparent;
    border-radius: 5px;
}

.clear-all-btn{
    float: right;           
    padding: 5px 10px;
}
.clear-all-btn:hover{
    background-color: #e34f26;    
    color: #fff;
}
.clear-all-btn:active{
    background-color: #000;   
    color: #fff;
}

.no-history-container{
    font-size: 16px;
    color: #ccc;
    font-style: italic;
    margin: 30px;
    height: 120px;
}

.search-history{
    height: 198px; 
    padding: 0px 15px;    
    overflow-y: auto;
    overflow-x: hidden;
}

.search-history-hr{
    border: none;    
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 2px 1px #ccc;
    margin: 10px auto 10px;
}

.result-row{
    padding: 5px;
    border-bottom: 1px solid #eee;
    text-align: left;
    width: 100%;
    line-height: 25px;
}

.message{
    width: 40%;
}

.date-time{
    width: 55%;
}

.delete-row-btn{
    border-radius: 50%;
    padding: 0px 9px;
    color: red;    
}

.delete-row-btn:hover{
    background-color: red;
    color: #fff;
}
.delete-row-btn:active{    
    background-color: rgb(15, 23, 31);
    color: #fff;
}

.close-icon {
	position: relative;
	padding: 10px;
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
#cities:not(:valid) ~ .close-icon {
	display: none;
}
/** Assessment question THREE SECTION style ENDS**/

/** Assessment question TWO SECTION style STARTS**/
.survey-link{
    color: #ccc;
	text-decoration: underline;
    cursor: pointer;
}

.survey-link:hover{
	color: #ececec;
}
/** Assessment question TWO SECTION style ENDS**/


/* Modal style for PDF STARTS */
.modal-container {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /** Modal style for PDF ENDS**/

/** Assessment question ONE SECTION style STARTS**/
.assessment-one-toggle-btn{
    padding: 15px 25px;
}

.assessment-one-toggle-btn:hover, .assessment-one-toggle-btn:focus{
    background-color: #e34f26;
    box-shadow: 0px 15px 20px #b97c6b;
    color: #fff;
    transform: translateY(-7px);
}

.assessment-one-container{
    margin: 40px;
}

.styled-delete-btn{
    padding: 15px 10px;
    border: 2px solid #7d7d7d;
    background-color: orange;
    cursor: pointer;
    font-size: 20px;
}

.delete-close-x{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #fff;
}
/** Assessment question ONE SECTION style ENDS**/

/**media queries for mobile devices STARTS**/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px){

    #cities{
        width: 60%;
    }

    .main-container{
        width: 100%;
    }

    .history-container{
        margin: 10px;
    }

    .history-text{
        width: 70%;
    }

    .autocomplete-items{
        width: 51%;
        left: 10%;
    }    

    .modal-content{
        width: 82%;
    }

}

@media only screen 
  and (min-device-width: 320px) {

    .autocomplete-items{
        width: 51%;
        left: 11%;
    }

}

@media only screen 
  and (min-device-width: 375px) {

    .autocomplete-items{
        width: 54%;
        left: 11%;
    }

}

@media only screen 
  and (min-device-width: 410px) {

    #cities {
        width: 55%;
        margin: 5px 0px 0px 10px;
    }
    .autocomplete-items{
        width: 48%;
        left: 14%;
    }

}

@media only screen 
  and (min-device-width: 768px){
    #cities {
        width: 40%;
        margin: 5px 0px 0px 15px;
    }
    .autocomplete-items{
        width: 19.3%;
        left: 42%;
    }
  }
/**media queries for mobile devices ENDS**/